.page-container {
  position: relative;
}

.map-container {
}

.outer-container {
  position: absolute;
  width: 100%;
  background-color: white;
  transition: all 0.4s;
  z-index: 10;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  bottom: 0;
}

@media (min-height: 800px) {
  .outer-container {
  }
}

.hide-check-ins {
  height: 50px;
}

.display-check-ins {
  height: 55vh;
}

@media (min-height: 800px) {
  .display-check-ins {
    height: 45vh;
  }
}

.arrow-container {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px 8px 0 0;
}

.arrow {
  height: 100%;
}

.fetching-check-ins {
  transform: translateY(-10px);
}

.error {
  transform: translateY(-10px);
  color: red;
  font-weight: bold;
}

.check-ins-container {
  position: absolute;
  /* height: calc(55vh - 50px); */
  height: 0;
  width: 100%;
  background-color: inherit;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
  align-items: center;
}

@media (min-height: 800px) {
  .check-ins-container {
    height: calc(45vh - 50px);
  }
}
